@import "../styles/variables";
@import "../styles/mixins";

.checkbox {
  display: flex;
  font-family: $font-soleil;
  align-items: stretch;
  justify-content: center;
  line-height: 1.2rem;
  color: $color-grey-dark;

  label {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    padding-left: 30px;
  }

  input[type="checkbox"] {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }

  .check {
    position: absolute;
    left: 20px;
    outline: none;
    border: solid 1px $color-ecru;
    width: 13px;
    height: 13px;
    display: flex;
    align-self: center;
    justify-content: center;
    cursor: pointer;
    transition: border-color $transition-time $transition-easing;

    svg {
      align-self: center;
      transform: scale(0);
      transition: transform $transition-time $transition-easing;
    }

    &:hover {
      border: solid 1px $color-blue;
    }
  }

  &.dropdown {
    @extend .dropdown-list;
  }

  &.notDropdown {
    .check {
      left: 0;
    }
    label {
        padding-left: 20px;
      }
  }

  &.dropdownAll {
    @extend .dropdown-list;

    border-bottom: solid 1px $color-blue-even-more-lighter !important;
  }

  &.checked {
    .check {
      svg {
        transform: scale(1);
      }
    }
  }
}
