@import 'variables';
@import 'mixins';

.avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
  border-radius: 18px;
  box-sizing: border-box;
  font-size: 1.2rem;

  &.picture {
    background-size: cover;
    background-position: center center;
  }

  &.signature {
    border: 1px solid transparent;
    background: $color-white;
    font-family: $font-soleil-bold;

    span {
      @extend .font-fix-2;
    }
  }
}
